
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 16px;
}

/*** INPUTS ***/

.button {
    background-color: sandybrown;
    color: black;
    border: #333 1px solid;
    outline: none;

    border-radius: 4px;

    font-size: 14px;

    padding: 4px;
    margin: 4px 4px 0 0;
}
.button:hover {
    background-color: rgb(192, 114, 45);
    color: white;
}

.textInput {
    box-sizing: border-box;

    outline: none;
    border: #888 1px solid;

    width: 200px;

    font-size: 16px;

    padding: 4px;
    margin: 4px 4px 0 0;
}

/*** DROPDOWN ***/

.dropdown {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.dropdown .item {
    position: relative;
    height: 24px;
    min-width: 200px;
}
.dropdown .item:nth-child(odd) {
    background-color: #cfe0e8;
}
.dropdown .item:nth-child(even) {
    background-color:#b7d7e8;
}

.dropdown .item p { 
    margin-left: 8px;
    line-height: 24px;
}